@import '../sassStyles/global';
@import '../sassStyles/animations';
@import '../sassStyles/mixins';
@import '../sassStyles/variables';
.header{
  background-color: var(--color-nav);
  color: #fff;
  a{
    color: #fff;
  }
  
  .top__menu{
    float: right;
    display: flex;
    justify-content: space-evenly;
   
  }
  .top__menu>li{
    display: block;
    margin: 0 25px;
  }
  .top__menu-setting{
    position: relative;
  }
  .top__menu-setting-dropdown{
    display: none;
    position:absolute;
    
    
  }
  .ht-checkbox:checked~.top__menu-setting-dropdown{
    
    display: block;
    background-color: #333;
    
    
  }
  
  .top__menu-item{
    display: flex;
  }
  .top__menu-item>span{
    display: block;
  }
  .ht-setting-list{
    display: none;
  }
  .header_middle{
    text-align: center;
    border-top: 1px solid #fff;
  }
  .header__middle-left{
    text-align: center;
  }
  .header__middle-right{
    display: flex;
    flex-wrap: wrap;
  }
  .header__searchbox{
    border-radius: 5px;
    select{
      outline: none;
    }
    input{
      outline: none;
    }
  }
  
  .hm-menu{
    display: flex;
    margin-left: 30px;
  }
  .farBars{
    display: none;
  }
  .header__bottom{
    height: 50px;
    padding: 18px 0;
  }
  

  @media (min-width:1366px){
    .header__top{
    height: 45px;
    border-bottom: 1px solid var(--color-nav-border);
    padding: 15px 0;
  }
  .header__middle{
    height: 105px;
    border-bottom: 1px solid var(--color-nav-border);
    padding: 30px 0;
  }
  
    .header__searchbox{
    

      width:650px;
      height:45px;
    }
    .select-searchbox{
      width: 75px;
      height: inherit;
    }
    .header__searchbox>input{
      width: 510px;
      height: inherit;
    }
    .header__searchbox>button{
      height: inherit;
    }
    .header__middle-right-menu{
      width: 400px;
      margin:auto;
      padding-left: 120px;
      
     
    }
    .hm-likelist{
      margin: 20px;
      
    }
    

  }
  @media (max-width:414px){
    .header__top{
    height: 100px;
    border-bottom: 1px solid var(--color-nav-border);
    padding: 15px 0;
  }
  
    .header__searchbox{
      display: flex;
      width:330px;
      height:45px;
      margin: 5%;
    }
    .select-searchbox{
      display: none;
    }
    .header__searchbox>input{
    
      height: inherit;
      flex-grow: 1;
    }
    .header__searchbox>button{
      height: inherit;
      width: 40px;
    }

  }
  @media (max-width:600px){
    .header__top{
    height: 100px;
    border-bottom: 1px solid var(--color-nav-border);
    padding: 15px 0;
  }
  
    .header__searchbox{
      margin-left: 5%;

      width:310px;
      height:45px;
      display: flex;
    }
    .select-searchbox{
      width: 75px;
      height: inherit;
    }
    .header__searchbox>input{
      flex-grow: 1;
      height: inherit;
    }
    .header__searchbox>button{
      height: inherit;
      width: 45px;
    }
  }
  @media (min-width:601px){
    .header__top{
    height: 45px;
    border-bottom: 1px solid var(--color-nav-border);
    padding: 15px 0;
  }
  .header__middle{
    height: 105px;
    border-bottom: 1px solid var(--color-nav-border);
    padding: 30px 0;
  }
    .header__searchbox{

      width:480px;
      height:45px;
      display: flex;
    }
    .select-searchbox{
      width: 75px;
      height: inherit;
    }
    .header__searchbox>input{
      flex-grow: 1;
      height: inherit;
    }
    .header__searchbox>button{
      height: inherit;
      width: 45px;
    }
  }
  @media (max-width:768px){
    .header__bottom{
      
    display: none;
    


  }
  .active{
    display: block;
    .hb-menu-list{
        display: flex;
        flex-direction: column;
        background-color: #333;
        position: fixed;
        width: 200px;
        height:200px;
        
        
  }
  
  }
  
  .farBars{
    display: block;
    
  }
  }
  @media (min-width:601px)and(max-width:768px){
    .header__top{
    height: 45px;
    border-bottom: 1px solid var(--color-nav-border);
    padding: 15px 0;
  }
  .header__middle{
    height: 180px;
    border-bottom: 1px solid var(--color-nav-border);
    padding: 30px 0;
  }
  .header__middle-right{
    display: flex;
  }
    .header__searchbox{

      width:480px;
      height:45px;
      display: flex;
    }
    .select-searchbox{
      width: 75px;
      height: inherit;
    }
    .header__searchbox>input{
      flex-grow: 1;
      height: inherit;
    }
    .header__searchbox>button{
      height: inherit;
      width: 45px;
    }
  }


  
  .hm-likelist{
    width: 50px;
    
        
  }
  .hb-menu-list{
    display: flex;
  }
}